@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Light.eot');
    src: url('/fonts/CeraPro-Light.eot#iefix') format('embeded-opentype'),
        url('/fonts/CeraPro-Light.woff2') format('woff2'),
        url('/fonts/CeraPro-Light.woff') format('woff'),
        url('/fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Regular.eot');
    src: url('/fonts/CeraPro-Regular.eot#iefix') format('embeded-opentype'),
        url('/fonts/CeraPro-Regular.woff2') format('woff2'),
        url('/fonts/CeraPro-Regular.woff') format('woff'),
        url('/fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Medium.eot');
    src: url('/fonts/CeraPro-Medium.eot#iefix') format('embeded-opentype'),
        url('/fonts/CeraPro-Medium.woff2') format('woff2'),
        url('/fonts/CeraPro-Medium.woff') format('woff'),
        url('/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Bold.eot');
    src: url('/fonts/CeraPro-Bold.eot#iefix') format('embeded-opentype'),
        url('/fonts/CeraPro-Bold.woff2') format('woff2'),
        url('/fonts/CeraPro-Bold.woff') format('woff'),
        url('/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/CeraPro-Black.eot');
    src: url('/fonts/CeraPro-Black.eot#iefix') format('embeded-opentype'),
        url('/fonts/CeraPro-Black.woff2') format('woff2'),
        url('/fonts/CeraPro-Black.woff') format('woff'),
        url('/fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    font-family: "Cera Pro", sans-serif;
}

.main {
    padding: 30px 120px 52px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgb(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-item {
    font-family: sans-serif;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    padding: 8px 25px 25px;
}

.active {
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}

.btn {
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.homepage {
    display: flex;
    margin-bottom: 46px;
}

.homepage-content {
    padding: 68px 43px;
}

.homepage-subtitle {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.homepage-title {
    font-weight: 900;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.planet {
    color: #46a358;
}

.homepage-description {
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-bottom: 44px;
}

.homepage-button {
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.homepage-img {
    position: relative;
}

.homepage-flower {
    width: 507px;
    height: 450px;
}

.homepage-flower-mini {
    position: absolute;
    top: 300px;
    left: 50px;
    width: 135px;
    height: 135px;
}

.assortment {
    display: flex;
    margin-top: 171px;
}

.assortment-sidebar {
    padding: 68px 43px;
}

.assortment-sidebar-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.assortment-sidebar-list{
    margin-left: 12px;
    margin-bottom: 340px;
}

.assortment-sidebar-category {
    font-weight: 400;
    font-size: 15px; 
    line-height: 40px;
    color: #3d3d3d;
}

.house-plants {
    color: #46a358;
    font-weight: 700;
}

.assortment-sidebar-banner {
    width: 370px;
    height: 470px;
}

.assortment-main-nav {
    display: flex;
    padding: 31px 50px;
}

.assortment-main-sidebar {
    display: flex;
    gap: 40px;
    margin-right: 385px;
}

.assortment-main-sidebar-category {
    font-weight: 400;
    font-size: 15px; 
    line-height: 16px;
    color: #3d3d3d;
}

.all-plants {
    font-weight: 700;
    color: #46a358;
    border-bottom: 2px solid #46a358;
}

.assortment-main-nav-short {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    margin-right: 5px;
}

.assortment-main-flowers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 130px 33px;
    margin: 40px 0 90px 50px;
}

.assortment-main-flowers {
    width: 250px;
    height: 250px;
}

.assortment-main-flowers-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3d3d3d;
    margin-top: 20px;
}

.assortment-main-flowers-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46a358;
    margin-top: 6px;
}

.assortment-main-pages {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.assortment-main-pages-btn {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 13px;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: #3d3d3d;
}

.btn-active {
    font-weight: 700;
    color: #fff;
    background-color: #46a358;
    border: 1px solid #46a358;
}

.info {
    margin-top: 94px;
}

.info-content {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 138px;
}

.info-content-block {
    display: flex;
    align-items: center;
}

.info-content-block-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.info-content-block-name {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 9px;
    margin: 30px 40px 9px 40px;
}

.info-content-block-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
    margin-right: 40px;
}

.info-content-block-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-right: 40px;
}

.info-blogs-text-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.info-blogs-text-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.info-blogs-stacks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 44px;
}

.info-blogs-stacks-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46a358;
    margin: 9px 31px 4px 15px;
}

.info-blogs-stacks-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3d3d3d;
    margin: 4px 64px 4px 15px;
}

.info-blogs-stacks-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin: 4px 11px 9px 15px;
}

.info-blogs-stacks-more {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 9px 164px 12px 15px;
}

.read-more {
    color: #46a358;
}